body {
    background: #f2f2f2;
    font-size: 1.5em
}

img {
    max-width: 100%;
    border: 0;
    height: auto
}

.full-product,
.single-product,
.guide,
.cmt {
    background: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding-bottom: 20px
}

#checkboxes-1 .checkbox input[type=checkbox],
#checkboxes-2 .checkbox input[type=checkbox],
#checkboxes-3 .checkbox input[type=checkbox],
#checkboxes-4 .checkbox input[type=checkbox],
#checkboxes-5 .checkbox input[type=checkbox],
#checkboxes-6 .checkbox input[type=checkbox],
#checkboxes-7 .checkbox input[type=checkbox] {
    margin: 0;
    top: 3px
}

#checkboxes-1,
#checkboxes-2,
#checkboxes-3,
#checkboxes-5,
#checkboxes-6,
#checkboxes-7 {
    width: 100%;
    padding: 0 0 0 10px;
    z-index: 1000;
    background: #fff;
    position: absolute;
    border: 1px #dadada solid;
    display: none;
    top: 100%;
    max-height: 385px;
    overflow: auto;
    box-shadow: 0 5px 15px 5px rgba(221, 221, 221, 0.88);
}

.selectBox {
    cursor: pointer
}

.selectBox:hover select {
    border: 2px solid #ddd
}

.selectBox,
.multiselect {
    position: relative
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background: #f6f6f6;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s
}

.navbar-default {
    padding: 1em 0;
    background: #fff
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar-brand>img {
    display: inline-block;
    margin: 0 7px 0 0;
    width: 20px
}

pre,
.form-control[readonly] {
    background-color: #fff
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer
}

#BackToTop {
    overflow: hidden;
    position: fixed;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    z-index: 90;
    right: 28px;
    bottom: 31px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 55px;
    height: 55px;
    color: #fff;
    text-align: center;
    background-color: #444444;
    font-size: 22px;
    line-height: 52px;
    cursor: pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#BackToTop i {
    color: #fff !important;
    margin-top: 15px
}

#BackToTop:hover {
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    transform: scale(1.1) !important
}

#BackToTop.active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.waves-effect.waves-light {
    background-color: rgba(255, 255, 255, 0.45)
}

.ripple {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ripple::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: -webkit-radial-gradient(circle, #000 10%, transparent 10.01%);
    background-image: -moz-radial-gradient(circle, #000 10%, transparent 10.01%);
    background-image: -o-radial-gradient(circle, #000 10%, transparent 10.01%);
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(10, 10);
    -moz-transform: scale(10, 10);
    -ms-transform: scale(10, 10);
    -o-transform: scale(10, 10);
    transform: scale(10, 10);
    opacity: 0;
    -webkit-transition: opacity 1s, -webkit-transform .5s;
    transition: opacity 1s, -webkit-transform .5s;
    -o-transition: opacity 1s, -o-transform .5s;
    -moz-transition: transform .5s, opacity 1s, -moz-transform .5s;
    transition: transform .5s, opacity 1s;
    transition: transform .5s, opacity 1s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s
}

.ripple:active::after {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: .2;
    -webkit-transition: 0s;
    -o-transition: 0s;
    -moz-transition: 0s;
    transition: 0s
}

.visio,
.project {
    position: relative;
    top: 7px
}

.visio1 .form-control,
.project1 .form-control {
    padding: 6px 12px 6px 4px
}

.container-fluid {
    padding-left: 2em;
    padding-right: 2em
}

footer {
    margin: 1em 0
}

.close-btn {
    top: 5px;
    position: absolute;
    right: 5px;
    font-size: 17px;
    color: #000;
    opacity: .3;
    z-index: 1000
}

.close-btn:hover {
    color: #000;
    opacity: .5;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s
}

.cmt {
    padding: 1em
}

.checkbox label,
.radio label {
    padding: 0;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    display: none;
}

.icon-radio,
.icon-checkbox {
    position: relative;
    top: 2px;
    display: inline-block;
    margin: 0 3px 0 0;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.icon-checkbox {
    border-radius: 1px;
}

.icon-radio {
    border-radius: 100%;
}

input[type="radio"]:checked+.icon-radio::before,
input[type="checkbox"]:checked+.icon-checkbox::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

input[type="radio"]:checked+.icon-radio::before {
    background: rgb(1, 124, 1);
    border-radius: 100%;
}

input[type="checkbox"]:checked+.icon-checkbox::before {
    background: rgb(1, 124, 1);
}

input[type="checkbox"]:disabled+.icon-checkbox,
input[type="radio"]:disabled+.icon-radio {
    background: #eee;
}

.CodeMirror {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    font-family: monospace;
    height: 480px;
    color: #000;
    direction: ltr
}

.CodeMirror-lines {
    padding: 4px 0
}

.CodeMirror pre {
    padding: 0 4px
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
    background-color: white
}

.CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    white-space: nowrap
}

.CodeMirror-linenumbers {}

.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
    white-space: nowrap
}

.CodeMirror-guttermarker {
    color: black
}

.CodeMirror-guttermarker-subtle {
    color: #999
}

.CodeMirror-cursor {
    border-left: 1px solid black;
    border-right: none;
    width: 0
}

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver
}

.cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    border: 0 !important;
    background: #7e7
}

.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1
}

.cm-fat-cursor-mark {
    background-color: rgba(20, 255, 20, 0.5);
    -webkit-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite
}

.cm-animate-fat-cursor {
    width: auto;
    border: 0;
    -webkit-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
    background-color: #7e7
}

@-webkit-keyframes blink {
    0% {}

    50% {
        background-color: transparent
    }

    100% {}
}

@keyframes blink {
    0% {}

    50% {
        background-color: transparent
    }

    100% {}
}

.cm-tab {
    display: inline-block;
    text-decoration: inherit
}

.CodeMirror-rulers {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    bottom: -20px;
    overflow: hidden
}

.CodeMirror-ruler {
    border-left: 1px solid #ccc;
    top: 0;
    bottom: 0;
    position: absolute
}

.cm-s-default .cm-header {
    color: blue
}

.cm-s-default .cm-quote {
    color: #090
}

.cm-negative {
    color: #d44
}

.cm-positive {
    color: #292
}

.cm-header,
.cm-strong {
    font-weight: bold
}

.cm-em {
    font-style: italic
}

.cm-link {
    text-decoration: underline
}

.cm-strikethrough {
    text-decoration: line-through
}

.cm-s-default .cm-keyword {
    color: mediumblue
}

.cm-s-default .cm-atom {
    color: mediumblue
}

.cm-s-default .cm-number {
    color: mediumblue
}

.cm-s-default .cm-m-javascript.cm-number {
    color: red
}

.cm-s-default .cm-m-sql.cm-number {
    color: red
}

.cm-s-default .cm-def {
    color: black
}

.cm-s-default .cm-variable {
    color: black
}

.cm-s-default .cm-m-css.cm-variable {
    color: mediumblue
}

.cm-s-default .cm-property {
    color: #a21414
}

.cm-s-default .cm-m-javascript.cm-property {
    color: black
}

.cm-s-default .cm-variable-2 {
    color: black
}

.cm-s-default .cm-variable-3 {
    color: #085
}

.cm-s-default .cm-comment {
    color: green
}

.cm-s-default .cm-string {
    color: mediumblue
}

.cm-s-default .cm-m-javascript.cm-string {
    color: brown
}

.cm-s-default .cm-m-sql.cm-string {
    color: brown
}

.cm-s-default .cm-string-2 {
    color: #f50
}

.cm-s-default .cm-meta {
    color: #555
}

.cm-s-default .cm-qualifier {
    color: brown
}

.cm-s-default .cm-builtin {
    color: brown
}

.cm-s-default .cm-tag {
    color: brown
}

.cm-s-default .cm-bracket {
    color: mediumblue
}

.cm-s-default .cm-attribute {
    color: #026501;
}

.cm-s-default .cm-hr {
    color: #999
}

.cm-s-default .cm-link {
    color: #00c
}

.cm-s-default .cm-error {
    color: #f00
}

.cm-invalidchar {
    color: #f00
}

.CodeMirror-composing {
    border-bottom: 2px solid
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0b0
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #a22
}

.CodeMirror-matchingtag {
    background: rgba(255, 150, 0, .3)
}

.CodeMirror-activeline-background {
    background: #e8f2ff
}

.CodeMirror {
    position: relative;
    overflow: hidden;
    background: white
}

.CodeMirror-scroll {
    overflow: scroll !important;
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: none;
    position: relative
}

.CodeMirror-sizer {
    position: relative;
    border-right: 30px solid transparent
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
    position: absolute;
    z-index: 6;
    display: none
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0
}

.CodeMirror-gutter-filler {
    left: 0;
    bottom: 0
}

.CodeMirror-gutters {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    z-index: 3
}

.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -30px
}

.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    background: none !important;
    border: none !important
}

.CodeMirror-gutter-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4
}

.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4
}

.CodeMirror-gutter-wrapper::-moz-selection {
    background-color: transparent
}

.CodeMirror-gutter-wrapper::selection {
    background-color: transparent
}

.CodeMirror-gutter-wrapper::-moz-selection {
    background-color: transparent
}

.CodeMirror-lines {
    cursor: text;
    min-height: 1px
}

.CodeMirror pre {
    border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual
}

.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal
}

.CodeMirror-linebackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    padding: 0.1px
}

.CodeMirror-rtl pre {
    direction: rtl
}

.CodeMirror-code {
    outline: none
}

.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.CodeMirror-cursor {
    position: absolute;
    pointer-events: none
}

.CodeMirror-measure pre {
    position: static
}

div.CodeMirror-cursors {
    visibility: hidden;
    position: relative;
    z-index: 3
}

div.CodeMirror-dragcursors {
    visibility: visible
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible
}

.CodeMirror-selected {
    background: #d9d9d9
}

.CodeMirror-focused .CodeMirror-selected {
    background: #d7d4f0
}

.CodeMirror-crosshair {
    cursor: crosshair
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line>span::-moz-selection,
.CodeMirror-line>span>span::-moz-selection {
    background: #d7d4f0
}

.CodeMirror-line::selection,
.CodeMirror-line>span::selection,
.CodeMirror-line>span>span::selection {
    background: #d7d4f0
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line>span::-moz-selection,
.CodeMirror-line>span>span::-moz-selection {
    background: #d7d4f0
}

.cm-searching {
    background-color: #ffa;
    background-color: rgba(255, 255, 0, .4)
}

.cm-force-border {
    padding-right: .1px
}

@media print {
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden
    }
}

.cm-tab-wrap-hack::after {
    content: ''
}

span.CodeMirror-selectedtext {
    background: none
}